<div class="container text-center">
    <h1>Lista de Productos</h1>
    <div class="row">
        {{#each products}}
        <div class="col">
            <div class="card">
                <img src="#" class="card-img-top" alt= {{ this.title }}>
                <div class="card-body">
                    <h5 class="card-title">{{ this.title }}</h5>
                    <p class="card-text">{{ this.description }}</p>
                    <p class="card-text">ID: {{ this.id }}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>